hw02/FontPacker/output/
hw02/FontPacker/pico/
hw03/final_font/outputs_Simple/
hw03/final_font/outputs_Medium/
hw03/final_font/pico_Simple/
hw03/final_font/pico_Medium/
hw03/final_font/pico_Strong/
*.png
__pycache__/
*.pyc
*.pyo
